body {
    background-color: white;
    margin: 30px auto;
    padding: 0;
}
h1 {
    text-align: center;
    color: red;
    border-bottom: 1px solid #ddd;
}
hr {
    border: 50%;
    border-color: rgb(0, 0, 0);
}
h2 {
    color: darkblue;
    text-decoration: underline;
}
fieldset {
    border-color: blue;
    border-top-color: cornflowerblue;
    background-color: cornsilk;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
label {
    color: black;
    font-weight: bolder;
    font-size: 18px;
}
legend {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: oblique;
    color: darkblue;
    font-size: 24px;
}
u {
    font-weight: 500px;
    text-underline-position: auto;
}
img {
    float: right;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 88px;
    border-color: brown;
}
p {
    font-size: 16px;
    line-height: 1.5;
}
.section {
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section2 {
    background-color: burlywood;
    background: scroll;
}
#awards {
    text-align: left;
    border: 0cqmin;
    background-color: palegreen;-o-transition-timing-function: ;
    text-decoration: underline;
    width: 100%;
    max-width: fit-content;
    min-width: fit-content;
}
ul {
    list-style-type: square;
    margin-left: 20px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
